@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
	background-color: antiquewhite;
	font-family: 'Kalam', cursive;
}

.container {
	padding: 20px;
	width: 300px;
	margin: 0 auto;
	/* margin-top: 20px; */
	background-color: antiquewhite;
	border-radius: 5px;
}

.title {
	font-weight: 800;
	font-size: 70px;
	color: #5C90A4;
	text-align: center;
}

h2 {
	margin-bottom: 0;
}

p {
	color: #5C90A4;
	font-weight: 600;
}

form {
	display: inline-block;
}

input{
	padding: 4px 15px 4px 5px;
	border-radius: 5px;
	height: 22px;
	width: 180px;
	margin-top: 20px;
}

#button{
	display: inline-block;
	background-color:#ff7d7f;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
	padding: 5px 15px;
	width: 50px;
}

#button:hover {
	cursor: pointer;
	opacity: .8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color:#5C90A4;
}

ol li:nth-child(even){
  background: #dfdfdf;
}

.strike{
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.delete {
	display: none;
}

.crossOutButton {
	background-color: #ff7d7f;
	color: white;
	border-radius: 5px;
	float: right;
	
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}
